node_modules
build
**/.DS_Store
**/package-lock.json
**/package.json
**/.vscode
**/server-linux
**/server-macos
**/server-win.exe
**/numpad.xcodeproj/project.xcworkspace/xcuserdata/cclerc.xcuserdatad/UserInterfaceState.xcuserstate